body {
    background-image: linear-gradient(180deg, #731ce6, #ebd248, #df6666);
    background-size: cover;
    min-height: 100vh;
}

.download-btn {
    position: relative;
    width: 100%;
    max-width: 500px;
    left: 50%;
    transform: translate(-50%, 0);
}

.download-text {
    text-decoration: none;
    padding: 2px 42%;
}

.download-btn-slide {
    position: relative;
    width: 100%;
    max-width: 500px;
    left: 50%;
    transform: translate(-50%, 0);
}

.download-text-slide {
    text-decoration: none;
    padding: 2px 30%;
}

.table {
    background-color: #ffffff65;
}

.loader-container {
    height: 65px;
}

.loader {
    width: 45px;
    height: 45px;
}